---
title: Donate
lead: Support this project and the free education
footer: 1
layout: page
---

Hello everybody, it's me [hermades](http://hermades.ml) the creator and
maintainer of HSchool.

This project and its contents will always be free ([as in
freedom](http://hermades.ml/philosophy.php)), there are no hidden fees, no
registration or subscription posibilities or anything that could violate your
privacy or your freedom.

I started this project, with the idea of helping people to learn things they are
interested in and even make them more marketable for their jobs, when I started
learning hacking it was sort of hard, because I had no money to invest in
courses or books so I just had online posts and videos to learn, their contents
were generally good, but the problem was that they didn't follow and order so,
today they posted "_what is an IP address_" and the next day "_how to generate
undetectable backdoors using metasploit_" so I decided to gather money and buy a
few books and courses, since that day I've always tried to help people with
their learning on computers related things and now I opened this website.

There's no way I can earn money, there are no ads, there are no trackers, there
are no external scripts (I don't even know how many people visit my website) but
that's not a problem, if you'd like to support you can do it in two ways:

- Cryptocurrencies: [My addresses are here](http://hermades.ml/donate.php)
- Paypal (Not recommended as it requires non-free javascript):

<form action="https://www.paypal.com/donate" method="post" target="_top"
style="width: 200px;">
  <input type="hidden" name="hosted_button_id" value="VNBSXNB7LDCAQ" />
  <input type="image"
  src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
  name="submit" title="PayPal - The safer, easier way to pay online!"
  alt="Donate with PayPal button" />
  <img alt="" border="0" src="https://www.paypal.com/en_CO/i/scr/pixel.gif"
  width="1" height="1" />
</form>

Thank you for your support.
