    {% if page.footer != nil %}
      <div class="footer">
        <div class="container">
          <div uk-grid>
            <div class="uk-width-1-3@m">
              <a href="/" class="uk-logo">
                <i class="uil-graduation-hat"></i>
                {{ site.title }}
              </a>
              <p class="footer-description">{{ site.description }}</p>
            </div>

            <div class="uk-width-expand@s uk-width-1-2">
              <div class="footer-links pl-lg-8">
                <h5>Explore</h5>
                <ul>
                  <li><a href="/explore">Courses</a></li>
                  <li><a href="/blog">Blog</a></li>
                </ul>
              </div>
            </div>

            <div class="uk-width-expand@s uk-width-1-2">
              <div class="footer-links pl-lg-8">
                <h5>Resources</h5>
                <ul>
                  <li><a href="mailto:hermades@disroot.org">Contact</a></li>
                  <li><a
                      href="https://hermades.ml/philosophy/">Philosophy</a></li>
                  <li><a href="https://codeberg.org/AshyAsh/HSchool">Source
                      code</a></li>
                </ul>
              </div>
            </div>
          </div>

          <hr>

          <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-expand@s uk-first-column">
              <p>&copy; 2021 <strong>{{ site.author }}</strong></p>
            </div>
            <div class="uk-width-auto@s">
              <nav class="footer-nav-icon">
                <ul>
                  <li></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div> <!-- .page-content -->
</div> <!-- #wrapper  -->

<script>
(function (window, document, undefined) {
  'use strict';
  if (!('localStorage' in window)) return;
  var nightMode = localStorage.getItem('gmtNightMode');
  if (nightMode) {
      document.documentElement.className += ' night-mode';
  }
})(window, document);


(function (window, document, undefined) {

  'use strict';

  // Feature test
  if (!('localStorage' in window)) return;

  // Get our newly insert toggle
  var nightMode = document.querySelector('#night-mode');
  if (!nightMode) return;

  // When clicked, toggle night mode on or off
  nightMode.addEventListener('click', function (event) {
      event.preventDefault();
      document.documentElement.classList.toggle('night-mode');
      if (document.documentElement.classList.contains('night-mode')) {
          localStorage.setItem('gmtNightMode', true);
          return;
      }
      localStorage.removeItem('gmtNightMode');
  }, false);

})(window, document);
</script>

<script src="/assets/js/framework.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/mmenu.min.js"></script>
<script src="/assets/js/simplebar.js"></script>
<script src="/assets/js/main.js"></script>

<noscript>
  <meta http-equiv="refresh" content="0; url=https://nojs.hschool.ml">
</noscript>
