<!-- Header -->
<header class="header header-horizontal header bg-grey uk-light">
  <div class="container">
    <nav uk-navbar>

      <!-- Left side content -->
      <div class="uk-navbar-left">

        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>

        <a href="/" class="logo">
          <img src="/assets/images/logo-dark.svg">
          <span>Hermades School</span>
        </a>

        <nav id="navigation">
          <ul id="responsive">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="http://hermades.ml">Hermades' site</a></li>
          </ul>
        </nav>

      </div>
      <!-- End Left side content -->

    </nav>
  </div>
</header>
<!-- End Header -->
