<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} | {{ site.title }}</title>

  {% include seo.html %}
  
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/night-mode.css">
  <link rel="stylesheet" href="/assets/css/framework.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/assets/css/icons.css">
</head>

