<div class="section-small delimiter-top">
  <div class="container-small">

    <div class="text-center mb-5">
      <h3>Check out our newest courses</h3>
    </div>
    
    <div class="course-grid-slider mt-lg-5" uk-slider="finite: true">
      <div class="uk-slider-container pb-3">
        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m
          uk-grid">

          {% for post in site.posts %}
            {% assign course = site.data.courses[post.course] %}

            {% assign lessons = 0 %}
            {% assign sections = 0 %}

            {% for section in course.contents %}
              {% for lesson in section.contents %}
                {% assign lessons = lessons | plus: 1 %}
              {% endfor %}
              {% assign sections = sections | plus: 1 %}
            {% endfor %}

            <li>
              <a href="{{ course.url }}">
                <div class="course-card">
                  <div class="course-card-thumbnail">
                    <img src="{{ course.thumb }}">
                    <span class="play-button-trigger"></span>
                  </div>
                  <div class="course-card-body">
                    <div class="course-card-info">
                      <div>
                        <span class="catagroy">{{ course.category }}</span>
                      </div>
                    </div>
                    <h4>{{ course.title }}</h4>
                    <p>{{ course.description }}</p>
                    <div class="course-card-footer">
                      <h5><i class="icon-feather-film"></i> {{ lessons }}
                        lessons</h5>
                      <h5><i class="icon-feather-clock"></i> {{ course.time }}
                        hours</h5>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>

  </div>
</div>
