<div class="home-hero" data-src="/assets/images/parallax.jpeg" uk-img>
  <div class="uk-width-1-1">
    <div class="page-content-inner uk-position z-index">
      <h1>Learn completely free</h1>
      <h4 class="my-lg-4">Learn hacking, programming and many more.</h4>
      <a href="/explore" class="btn btn-default">Explore</a>
    </div>
  </div>
</div>

<div class="section">
  <div class="page-content-inner">

    <div class="section-small text-md-left text-center">
      <div class="uk-child-width-1-2@m uk-grid-large uk-flex-middle" uk-grid>
        <div>
          <img src="/assets/images/feature.png">
        </div>
        <div>
          <h2>Learn anytime<br>and everywhere</h2>
          <p>Learn completely free at your own pace. It is not necessary to sign
          up or to give personal and sensitive information. This website is free
          (as in <a href="http://hermades.ml/philosophy.php">freedom</a>). You
          can create your own courses, modify lessons and even create your own
          platform based on Hermades school.</p>
          <a href="/explore" class="btn btn-soft-light">Explore</a>
        </div>
      </div>
    </div>

  </div>
</div>
