<meta name="generator" content="Jekyll v{{ jekyll.version }}">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="index/follow">
<meta name="keywords" content="{{ site.metaTags }}">
<meta name="Content.Type" content="text/html; charset=utf-8">
<meta name="DC.title" content="{% if page.title %}{{ page.title }}{% endif %}">

<link rel="cannonical" href="{{ site.pageurl }}">

<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.pageurl }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
