{% include head.html %}

<body class="night-mode">

  <div id="wrapper" class="bg-white">

    {% include header.html %}

    <div class="page-content">

      <div class="page-content-inner">
        <h2>Blog</h2>

        <div class="section-header">
          <div class="section-header-left">
            <h4>Recent Posts</h4>
          </div>
          <div class="section-header-right">
          </div>
        </div>

        <div class="uk-child-width-1-2@m uk-child-width-1-3@m" uk-grid>
          {% for entry in site.data.blog.entries %}
            <div>
              <a href="{{ entry.url }}" class="blog-post blog-post-card">

                <div class="blog-post-thumbnail">
                  <div class="blog-post-thumbnail-inner">
                    <img src="{{ entry.thumb }}">
                  </div>
                </div>

                <div class="blog-post-content">
                  <h3>{{ entry.title }}</h3>
                  <p>{{ entry.desc }}</p>
                </div>

                <div class="blog-post-footer">
                  <div class="blog-post-content-info">
                    <span class="blog-post-info-tag btn btn-soft-primary">{{
                      entry.category }}</span>
                    <span class="{{ entry.date }}"></span>
                  </div>
                </div>

              </a>
            </div>
          {% endfor %}
        </div>
      </div>

{% include footer.html %}
