{% include head.html %}
<body class="night-mode">

  <div id="wrapper" class="bg-white">

    {% include header.html %}

    <div class="page-content">

      {% assign course = site.data.courses[page.course] %}
      {% assign tutor = site.data.tutors[course.tutor] %}

      {% assign lessons = 0 %}

      {% for section in course.contents %}
        {% for lesson in section.contents %}
          {% assign lessons = lessons | plus: 1 %}
        {% endfor %}
      {% endfor %}

      <div class="course-details-wrapper topic-1 uk-light">
        <div class="container p-sm-0">

          <div uk-grid>
            <div class="uk-width-2-3@m">

              <div class="course-details">
                <h1>{{ course.title }}</h1>
                <p>{{ course.description }}</p>

                <div class="course-details-info mt-4">
                  <ul>
                    <li> Created by <a href="/tutor/{{ tutor.slug }}">{{ tutor.name
                        }}</a></li>
                    <li> Last updated {{ course.lastUpdated }}</li>
                  </ul>
                </div>
              </div>

              <nav class="responsive-tab style-5">
                <ul uk-switcher="connect: #course-intro-tab ;animation:
                  uk-animation-slide-right-medium, uk-animation-slide-left-medium">
                  <li><a href="#">Content</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Announcements</a></li>
                </ul>
              </nav>

            </div>
          </div>

        </div>
      </div>

      <div class="container">

        <div class="uk-grid-large mt-4" uk-grid>
          <div class="uk-width-2-3@m">
            <ul id="course-intro-tab" class="uk-switcher mt-4">

              <!-- Content -->
              <li>
                
                <ul class="course-curriculum" uk-accordion="multiple: true">

                  {% for section in course.contents %}
                    <li>
                      <a class="uk-accordion-title" href="#">{{ section.title }}</a>
                      <div class="uk-accordion-content">

                        <ul class="course-curriculum-list">
                          {% for lesson in section.contents %}
                            <li><a href="{{ lesson.url }}">{{ lesson.title }}</a></li>
                          {% endfor %}
                        </ul>

                      </div>
                    </li>
                  {% endfor %}

                </ul>

              </li>
              <!-- End Content -->

              <!-- Course description -->
              <li class="course-description-content">
                <h4>Description</h4>
                {{ course.longDesc }}

                <h4>What you'll learn</h4>
                <ul class="uk-child-width-1-2@s" uk-grid>
                  {% for thing in course.youlearn %}
                    {% if forloop.index == 1 %}
                      <div>
                        <ul class="list-2">
                    {% endif %}
                          <li>{{ thing }}</li>
		    {% assign half = forloop.length | divided_by: 2 %}
		    {% if forloop.index == half %}
                        </ul>
                      </div>
                      <div>
                        <ul class="list-2">
                    {% endif %}
                  {% endfor %}
                        </ul>
                      </div>
                </ul>

                <h4>Requirements</h4>
                <ul class="list-1">
                  {% for requirement in course.requirements %}
                    <li>{{ requirement }}</li>
                  {% endfor %}
                </ul>
              </li>
              <!-- End Course description -->

              <!-- Announcements -->
              <li>
                {% assign announcements = site.data.announcements[page.course] %}
                <h4>Announcements</h4>

                {% for announcement in announcements %}
                  <article class="uk-article">
                    <p>{{ announcement.content }}</p>
                    <p><b>Published on</b>: {{ announcement.date }}</p>
                  </article>
                {% endfor %}
              </li>
              <!-- End Announcements -->

            </ul>

          </div>

          <div class="uk-width-1-3@m">
            <div class="course-card-trailer" uk-sticky="top: 10; offset: 105; media:
              @m; bottom: true">

              <div class="course-thumbnail">
                <img src="{{ course.thumb }}">
              </div>
              
              <div class="p-3">

                <p class="uk-text-bold"> This Course Include</p>

                <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                  <div>
                    <span><i class="uil-youtube-alt"></i> {{ lessons }} lessons</span>
                  </div>
                  <div>
                    <span><i class="uil-clock-five"></i> {{ course.time }} hours</span>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>

{% include footer.html %}
