{% include head.html %}

{% assign tutor = site.data.tutors[page.author] %}

<body class="night-mode">

  <div id="wrapper" class="bg-white">

    {% include header.html %}

    <div class="blog-article-single mt-9" data-src="{{ page.thumb }}" uk-img>
      <div class="container-small">

        <p class="blog-article-meta mb-3">
          <strong>{{ page.category }}</strong>
          <a href="{{ tutor.site }}">{{ tutor.name }}</a>
        </p>

        <h1>{{ page.title }}</h1>

        <div class="blog-article-auther">
          <img src="{{ tutor.pp }}">
          <span class="blog-auther-user-name">{{ tutor.name }}</span>
        </div>

      </div>
    </div>

    <div class="container p-0">

      <div class="container-small blog-article-content-read" style="color: #fff;">
        {{ page.content | markdownify }}

        <div class="my-lg-7">
          <h4>Author</h4>
          <div class="uk-card-default rounded px-3 pb-md-3 uk-flex-uk
            uk-flex-between@m uk-flex-middle" uk-toggle="cls: uk-flex
            uk-flex-between@m uk-flex-middle; mode: media; media: @m">
            <div class="user-details-card">
              <div class="user-details-card-avatar">
                <img src="{{ tutor.pp }}">
              </div>
              <div class="user-details-card-name">
                {{ tutor.name }}
                <span>{{ tutor.about }}
                  <span>{{ page.date }}</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
{% include footer.html %}
