{% include head.html %}

<body class="night-mode">

  <div id="wrapper" class="bg-white">

    {% include header.html %}

    <div class="page-content">

      <div class="container">
        <div class="mt-lg-5" uk-grid>
          <div class="uk-width-1-4@m">

            <div class="sidebar-filter"
              uk-sticky="top:20;offset:90;bottom:true;media:@m">

              <button class="btn-sidebar-filter" uk-toggle="target: .sidebar-filter;
                cls: sidebar-filter-visible">Filter </button>

              <div class="sidebar-filter-contents">
                
                <h4>Filter By</h4>

                <!-- TODO: This -->
                <ul class="sidebar-filter-list" uk-accordion="multiple: true">
                  <li class="uk-open">
                    <a class="uk-accordion-title" href="#">Skill Levels</a>
                  </li>
                  <li class="uk-open">
                    <a class="uk-accordion-title" href="#">Duration time</a>
                  </li>
                  <li class="uk-open">
                    <a class="uk-accordion-title" href="#">Topic</a>
                  </li>
                </ul>

              </div>
            </div>

          </div>

          <div class="uk-width-expand@m">
            <div class="section-header mb-lg-3">
              <div class="section-header-left">
                <h4>Explore</h4>
              </div>
            </div>

            <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>

              {% for post in site.posts %}
                {% assign course = site.data.courses[post.course] %}

                {% assign lessons = 0 %}

                {% for section in course.contents %}
                  {% for lesson in section.contents %}
                    {% assign lessons = lessons | plus: 1 %}
                  {% endfor %}
                {% endfor %}

                <div>
                  <a href="{{ course.url }}">
                    <div class="course-card">
                      <div class="course-card-thumbnail">
                        <img src="{{ course.thumb }}">
                      </div>
                      <div class="course-card-body">
                        <div class="course-card-info">
                          <div>
                            <span class="catagroy">{{ course.category }}</span>
                          </div>
                        </div>
                        <h4>{{ course.title }}</h4>
                        <p>{{ course.description }}</p>
                        <div class="course-card-footer">
                          <h5><i class="icon-feather-film"></i> {{ lessons }}
                            lessons</h5>
                          <h5><i class="icon-feather-clock"></i> {{ course.time }}
                            hours</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}

            </div>
          </div>

        </div>
      </div>

{% include footer.html %}
