{% include head.html %}

{% assign course = site.data.courses[page.course] %}

<body class="night-mode">

  <div class="uk-card-default bg-gradient-grey p-4 uk-light uk-hidden@s">
    <div class="uk-flex uk-flex-between uk-flex-middle">
      <h4 class="mb-0"> {{ page.title }} </h4>
      <i class="icon-feather-video icon-small" uk-toggle="target:
        #open-side-course"></i>
    </div>
  </div>

  <div class="section-small bg-white uk-visible@s">
    <div class="px-5">

      <div class="uk-flex-middle" uk-grid>

        <div class="uk-width-1-4@m">
          <a href="#" class="uk-h5 bg-light p-3 rounded">
            <i class="uil-graduation-hat"></i> {{ site.title }}
          </a>
        </div>

        <div class="uk-width-expand@m">
          <div uk-grid>

            <div class="uk-width-2-3@m">
              <a href="{{ course.url }}" class="uk-text-bold uk-h4">{{
                course.title }}</a>
              <br>
              <a href="/" class="uk-text-muted">
                <i class="icon-line-awesome-long-arrow-left"></i> back to home
              </a>
            </div>

            <div class="uk-width-1-3@m">
            </div>

          </div>
        </div>

      </div>

    </div>

    <hr>

    <div class="uk-position-center-left uk-margin-medium-left">
      <button type="button" class="btn btn-primary rounded-circle btn-icon-only
        icon-xsmall" uk-toggle="target: #open-side-course">
        <span class="btn-inner--icon">
          <i class="uil-list-ul"></i>
        </span>
      </button>
    </div>

    <div class="uk-container-small uk-margin-auto uk-margin-medium-top">
      <h3 class="uk-text-light">Section: {{ page.section }}</h3>
      <h1 class="uk-text-light">{{ page.title }}</h1>
    </div>

  </div>

  <div class="px-5 bg-white">
    <div class="uk-container-small uk-padding-small uk-margin-auto"
    style="color: #fff !important;">
          {{ page.content | markdownify }}
    </div>
  </div>

  <div id="open-side-course" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar p-0 uk-overflow-hidden">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <h4 class="bg-gradient-grey text-white py-4 p-3 mb-0">{{ course.title
        }}</h4>

      <ul class="uk-child-width-epand mb-0" uk-switcher="animation:
        uk-animation-slide-right-small, uk-animation-slide-left-small" uk-tab>
        <li class="uk-active"><a href="#">Contents</a></li>
      </ul>

      <ul class="uk-switcher uk-overflow-hidden">
        <li>

          <div class="vidlist-3-content" data-simplebar>
            
            <ul class="vidlist-3-section" uk-accordion>

              {% for section in course.contents %}
              <li {% if section.title == page.section %}class="uk-open"{% endif %}>
                <a class="uk-accordion-title" href="#">{{ section.title }}</a>
                <div class="uk-accordion-content">

                  <ul class="vidlist-3">
                    {% for lesson in section.contents %}
                      <li {% if section.title == page.section and lesson.title ==
                        page.title %}class="uk-active"{% endif %}>
                        <a href="{{ lesson.url }}">{{ lesson.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>

                </div>
              </li>
              {% endfor %}

            </ul>

          </div>

        </li>
      </ul>
    </div>
  </div>

{% include footer.html %}
