{% include head.html %}

<body class="night-mode">

  <div id="wrapper" class="bg-white">

    {% include header.html %}

    <div class="page-content">
      <div class="page-content-inner">
        <div class="container-small mt-6">

          <div class="text-center my-4">
            <h1 class="uk-heading-line text-center"><span>{{ page.title
                }}</span></h1>
          </div>
          <article class="uk-article">
            {% if page.lead %}
              <h1 class="uk-text-lead">{{ page.lead }}</h1>
            {% endif %}
            {{ page.content | markdownify }}
          </article>

        </div>
      </div>
    </div>

{% include footer.html %}
